body{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-align: center;
}

form{
    background: #fc4;
    border-radius: 20px;
    margin: 5px 30%;
    padding: 20px;
}

input{
    width: 75%;
    font-size: 14pt;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #333;
    background: none;
    outline: none;
}

.messageBox{
    width: 75%;
    font-size: 14pt;
    color: #ccc;
    border-radius: 10px;
    margin: 20px auto;
    transition: 0.5s;
}

.errorPresent{
    padding: 5px 20px;
    background: #d33;
}

.successMessage{
    padding: 5px 20px;
    background: #3c3;
    color: #333;
}

input::placeholder{
    color: #333;
}

button{
    width: 50%;
    font-size: 16pt;
    padding: 10px;
    color: #ddd;
    background: #333;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

button:hover{
    color: #333;
    background: #ddd;
}

a:-webkit-any-link{
    text-decoration: none;
    color: #33c;
}